h1 {
    color: rgb(226, 97, 97);
    display: block;
    font-family: arial;
    font-size: 30px;
    margin: 0;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }
  
  li {
    color: rgb(112, 117, 122);
    display: block;
    font-family: arial, sans-serif;
    font-size: 17px;
    list-style: none;
    line-height: 1;
  }
  
  .weather-app {
    border: 1px solid #dadde1;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 700 px;
  }
  
  .temperature {
    color: rgb(32, 33, 36);
    display: inline;
    font-family: "Google Sans", arial, sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 60px;
  }
  